{% extends 'base.html.twig' %}

{% block title %}Message as is{% endblock %}

{% block body %}
<div>
    {% if message|length > 0 %}
        {% for msg in message|slice(0, limit) %}  {# subsetting array: extracting array from 0 to limit index #}
            <p>{{ msg.subject }}</p>
            
        {% endfor %}
    {% else %}
        <p>No value yet</p>
    {% endif %}
</div
{% endblock %}